/*****
 * MACROS
 *****/

.border-radius(@rad) {
	border-radius: @rad;
	-moz-border-radius: @rad;
	-webkit-border-radius: @rad;
}

.set_width(@size) { 
	width: @size; 
}

.set_square(@size) { 
	width: @size; 
	height: @size; 
}

.noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
}

/****
 * FONTS
 ****/

@font_weight_light: 300;
@font_weight_regular: 400;
@font_weight_bold: 600;

//@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Lato|Arvo|Philosopher|Quicksand|Ubuntu|Raleway|Roboto+Slab|Open+Sans|Krona+One);
//@import url(http://fonts.googleapis.com/css?family=Raleway);

@font-face {
	font-family: 'Bryant Alternate';
	font-weight: @font_weight_light;
	src: 
		url('/font/bryant/light-alternate.otf')
		format('opentype');
}

@font-face {
	font-family: 'Bryant Alternate';
	font-weight: @font_weight_regular;
	src: 
		url('/font/bryant/regular-alternate.otf')
		format('opentype');
}

@font-face {
	font-family: 'Bryant Alternate';
	font-weight: @font_weight_bold;
	src: 
		url('/font/bryant/medium-alternate.otf')
		format('opentype');
}

/*****
 * SET UP RESPONSIVENESS BREAKPOINTS
 *****/

.icon, .iconInner { 
	min-height: 50px;
	min-width: 50px;
}

// Smartphone portrait
@media all and (max-width: 479px) {
	.icon { .set_width(80px); }
	.iconInner { .set_square(80px); }
}

// Smartphone landscape
@media all and (min-width: 480px) and (max-width: 599px) {
	.icon { .set_width(100px); }
	.iconInner { .set_square(100px); }
}

// Tablet portrait
@media all and (min-width: 600px) and (max-width: 768px) {
	.icon { .set_width(100px); }
	.iconInner { .set_square(100px); }
}

// Tablet portrait (iPad)
@media all and (min-width: 600px) 
and (max-width: 768px) 
and (orientation: portrait) {
	.stepView { height: 746px; }
	.icon { .set_width(125px); }
	.iconInner { .set_square(125px); }
}

// Tablet landscape
@media all and (min-width: 769px) and (max-width: 1024px) {
	.icon { .set_width(125px); }
	.iconInner { .set_square(125px); }
}

// Tablet landscape (iPad)
@media all and (min-width: 769px) 
and (min-device-width: 769px) 
and (max-width: 1024px) 
and (orientation: landscape) {
	.stepView { height: 487px; }
	.icon { .set_width(150px); }
	.iconInner { .set_square(150px); }
}

// Desktop
@media all and (min-width: 1025px) and (max-width: 1280px) {
	.icon { .set_width(175px); }
	.iconInner { .set_square(175px); }
}

// Huge Desktop
@media all and (min-width: 1281px) {
	.icon { .set_width(220px); }
	.iconInner { .set_square(220px); }
}

/*****
 * REST OF DESIGN (DISORGANIZED)
 *****/

body {
	background-color: darken(#f5f5f4, 2%);
}

#AppView {
	background-color: darken(#f5f5f4, 2%);
}

#application-nav {
	background-color: darken(#e2e2df, 10%);
}

.stepView {
	overflow-y: auto;
}

// TODO: RENAME!
.icons {
	.span12 {
		vertical-align: top;
	}

	.thingyView { // TODO: Migrate class, simplify DOM
		display: inline-block;
		vertical-align: top;
		padding: 0px 5px;
	}

	.icon {
		overflow: hidden;
		cursor: pointer;
		.noselect;
		p {
			font-family: 'bryant alternate', 'droid sans';
			color: #666;
		}
	}

	.added .icon {
		p {
			color: #F05A28;
			text-shadow: 0px 1px 5px #999;
		}
	}

	.iconContainer {
		.border-radius(18px);
		border: 2px solid #ccc;
		overflow: hidden;
	}

	.added .iconContainer {
		border: 2px solid #F05A28;
		background-color: #0085cc;
	}

	.iconInner {
		background-color: #fff;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.added .iconInner {
 		-webkit-filter: grayscale(0.7)
						opacity(0.80);
						/*brightness(0.95); iPad fail */
		visibility: inherit;
	}
}

/* OLD CSS RULES THAT NEED TO BE MERGED IN!!!
 * OLD CSS RULES THAT NEED TO BE MERGED IN!!!
 * OLD CSS RULES THAT NEED TO BE MERGED IN!!!
 */


/* Hide dynamic elements at outset */

#form1 { display: none; }
#form2 { display: none; }
#radio-yesno { display: none; }

/* Actual page style */

body {
	/*background-color: #f5f5f4;*/
	color: #969696;
	padding-left: 0px;
	padding-right: 0px;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
}

.thingyView .btns {
	display: block;
	padding-top: 4px;
}

.stepView .name {
	padding-top: 15px;
	font-size: 2em;
	font-weight: bold;
	font-family: 'bryant alternate';
}

#AppView {
	overflow: hidden;
	text-align: center;
	//background-color: #f5f5f4;
	color: #969696;
}

.icons {
	padding: 10px;
}

#orange-mobile {
	height: 100px;
	background-color: #f05a28;
	background-image: url('../img/orange-header.png');
	background-position: center center;
}

#nav-left {
	float: left;
}

#nav-right {
	float: right;
}

#nav-back {
	background-image: url('../img/back.png') no-repeat;
	width: 60px;
	height: 60px;
}
#nav-restart {
	background-image: url('../img/back.png') no-repeat;
	width: 60px;
	height: 60px;
}

.ourbutton {
	border: none;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0);
}

form {
	min-height: 300px;
	padding: 30px;
}

input[type=text], input[type=email] {
	height: 37px;
}


label {
	color: darken(#969696, 5%);
}

.avgrund-popup {
	color: #111;
}

.modal-buttons {
	margin-top: 20px;
}

.modal-buttons-left {
	float: left;
}

.modal-buttons-right {
	float: right;
}

