.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
}
.set_tiny_w {
  width: 80px;
}
.set_tiny {
  width: 80px;
  height: 80px;
}
.set_small_w {
  width: 125px;
}
.set_small {
  width: 125px;
  height: 125px;
}
.set_medium_w {
  width: 150px;
}
.set_medium {
  width: 150px;
  height: 150px;
}
.set_large_w {
  width: 150px;
}
.set_large {
  width: 150px;
  height: 150px;
}
.set_huge_w {
  width: 150px;
}
.set_huge {
  width: 150px;
  height: 150px;
}
body {
  background-color: #f0f0ef;
}
#AppView {
  background-color: #f0f0ef;
}
#application-nav {
  background-color: #cacac4;
}
.icons .span12 {
  vertical-align: top;
}
.icons .thingyView {
  display: inline-block;
  vertical-align: top;
  padding: 0px 5px;
}
.icons .icon {
  overflow: hidden;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.icons .icon p {
  font-family: 'droid sans';
  color: #666;
}
.icons .added .icon p {
  color: #F05A28;
  text-shadow: 0px 1px 5px #999;
}
.icons .iconContainer {
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border: 2px solid #ccc;
  overflow: hidden;
}
.icons .added .iconContainer {
  border: 2px solid #F05A28;
  background-color: #0085cc;
}
.icons .iconInner {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icons .added .iconInner {
  -webkit-filter: grayscale(0.7) brightness(0.95) opacity(0.8);
  visibility: inherit;
}
@media all and (min-width: 200px) {
  .icons .icon {
    width: 80px;
  }
  .icons .iconInner {
    width: 80px;
    height: 80px;
  }
}
@media all and (min-width: 580px) {
  .icons .icon {
    width: 125px;
  }
  .icons .iconInner {
    width: 125px;
    height: 125px;
  }
}
@media all and (min-width: 820px) {
  .icons .icon {
    width: 150px;
  }
  .icons .iconInner {
    width: 150px;
    height: 150px;
  }
}
@media all and (min-width: 1000px) {
  .icons .icon {
    width: 150px;
  }
  .icons .iconInner {
    width: 150px;
    height: 150px;
  }
}
@media all and (min-width: 1200px) {
  .icons .icon {
    width: 150px;
  }
  .icons .iconInner {
    width: 150px;
    height: 150px;
  }
}
/* OLD CSS RULES THAT NEED TO BE MERGED IN!!!
 * OLD CSS RULES THAT NEED TO BE MERGED IN!!!
 * OLD CSS RULES THAT NEED TO BE MERGED IN!!!
 */
/* Hide dynamic elements at outset */
#form1 {
  display: none;
}
#form2 {
  display: none;
}
/* Actual page style */
body {
  /*background-color: #f5f5f4;*/

  color: #969696;
  padding-left: 0px;
  padding-right: 0px;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
}
.thingyView .btns {
  display: block;
  padding-top: 4px;
}
.stepView .name {
  padding-top: 15px;
  font-size: 2em;
  font-weight: bold;
}
#AppView {
  overflow: hidden;
  text-align: center;
  background-color: #f5f5f4;
  color: #969696;
}
.icons {
  padding: 10px;
}
#orange-mobile {
  height: 100px;
  background-color: #f05a28;
  background-image: url('../img/orange-header.png');
  background-position: center center;
}
#nav-left {
  float: left;
}
#nav-right {
  float: right;
}
#nav-back {
  background-image: url('../img/back.png') no-repeat;
  width: 60px;
  height: 60px;
}
#nav-restart {
  background-image: url('../img/back.png') no-repeat;
  width: 60px;
  height: 60px;
}
.ourbutton {
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}
form {
  min-height: 300px;
  padding: 30px;
}
input[type=text] {
  height: 37px;
}
.avgrund-popup {
  color: #111;
}
.modal-buttons {
  margin-top: 20px;
}
.modal-buttons-left {
  float: left;
}
.modal-buttons-right {
  float: right;
}
label {
  color: #969696;
}
